.header {
    width: 100%;
    text-align: center;
}

.headerTitle {
    font-size: calc(1em + 3.5vw);
}
.searchBox {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.searchBox * {

    margin: auto;
}
.searchBox button {
    width: auto;
}